# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://kslxfyanrpcbwfkvycsp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzbHhmeWFucnBjYndma3Z5Y3NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMjAyNTAsImV4cCI6MjA5MTg5NjI1MH0.Pe0v1RHCFEeQyWiPfRCA3P8sqaTdSwkQMelpkbzS5S8

# Firebase
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCEy4SnNWpDTiO_f3dlAVM9jZtNHiSc8yA
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=smart-nutrition-and-fitness.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=smart-nutrition-and-fitness
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=smart-nutrition-and-fitness.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=805328593701
EXPO_PUBLIC_FIREBASE_APP_ID=1:805328593701:web:09f889f83e4d81aaa130cc

# Google Sign-In (Web Client ID من Google Cloud Console)
# روح: console.cloud.google.com → APIs & Services → Credentials → OAuth 2.0 Client IDs → Web client
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=805328593701-XXXXXXXXXXXXXXXX.apps.googleusercontent.com